.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: -105px;
  padding-inline: 30px;
  align-items: center;
  /* min-height: calc(100vh - 205px); */
  min-height: 100vh;
  padding-top: 130px;
  padding-bottom: 200px;
  background-image: url("/landing_page_art.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
  color: white;
}

.infoContainer {
  max-width: 600px;
  margin-block: 20px;
}

@media screen and (max-height: 700px) {
  .container {
    background-position-y: -150px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    background-position-y: -120px;
  }
}
