.container {
  width: 320px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightblue;
}

.imageGrow {
  width: 100%;
  height: 100%;
  transition: transform 800ms;
}

.imageGrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}
